<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "Bits and blocks" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class='container'>
      <div class='row'>
        <div class='link-bar col-md-12 center'>
          <span><%= link_to "Homepage", "/"%></span>
          <span><%= link_to "Article Index", "/"%></span>
        </div>
      </div>
    </div>
    <%= partial 'header' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10'>
          <h1 class='article-title'><%= current_page.data.title %></h1>
          <%= yield %>
        </div>
        <div class='col-md-2'>
          <ul>
            <%= partial 'tags_bar' %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
