<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta  charset ="UTF-8">
    <title> <%= locals[:city] %>, <%= locals[:country] %> | Cory Logan's Americas Motorcycle Tour </title>
    <script>
      // window.location = "/map" + "#{{postDirName page}}";
    </script>

    <meta property="og:title" content="Cory Logan - Moto Travel Map">
    <!-- {{#if description}}<meta property="og:description" content="{{description}}">{{/if}}
    {{#if image}}<meta property="og:image" content="{{image}}">{{/if}} -->

  </head>
  <body>
    <div id="content">
      <div class="map-nav">
        <a href="#{{prevPost this}}" title="previous post" class="button scripty">&lt; Previous</a>
        <a href="#{{nextPost this}}" title="next post" class="button scripty">Next &gt;</a>
        <a href="/index.html" title="homepage" class="button">Homepage</a>
      </div>
      <header>
        <h2> <%= locals[:city] %>, <%= locals[:country] %> </h2>
        <h3>{{formatDate date}}</h3>
      </header>

      <section class="text">
        <%= body %>
      </section>


      {{relativeContent page 'flickr.cache'}}

      <% if flickr_link %>
      <%= flickr_link %>
      <p>Here are <a href="http://www.flickr.com/photos/counterbeing/sets/<%= flickr_link %>/show" title="The flickr set">the original files on flickr</a> in a slideshow.</p>
      <% end %>

      <br>
      <div class="map-nav">
        <a href="#{{prevPost this}}" title="previous post" class="button scripty">&lt; Previous</a>
        <a href="#{{nextPost this}}" title="next post" class="button scripty">Next &gt;</a>
        <a href="/index.html" title="homepage" class="button">Homepage</a>
      </div>
      <footer>
        by Cory Logan
      </footer>
    </div>
  </body>
</html>
