---
title: Cory Logan's Homepage - Information About Work And Play
header: Cory Logan
subtitle: I'm a programmer, grinner, motorcyclist, and all around swell guy.

---

<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="centered">
        <div class="circular" style="width: 80%; height: 80%;background: url(images/cory-on-motorcycle.jpg) no-repeat; background-size: cover;"><img itemprop="image" src="images/cory-on-motorcycle.jpg" title="Cory on a motorcycle" alt="Cory on a motorcycle"></div>

      <h3>I'm currently accepting fun projects, new friends, and warm cookies.  </h3>
      </div>
    </div>
    <div class="col-md-4">



<%= markdown = <<-MARKDOWN
## What's Up With Me Currently
I've been spending my recent days pretty heavily inolved with work, friends, and side projects. 

#### Employment
I'm currently working with a small health company called [Able Health](http://ablehealth.com/), we're working on improving the calculations involved in pay-for-performance programs. 

To learn more about what I've done in the past, and what I plan to do [take a look at the professional section](/professional.html "Work related things.").

#### Contacting Me
At the top of this page, you'll find several options. Please pick whichever is easiest.

MARKDOWN

render_markdown(markdown) %>
    </div>
    <div class="col-md-4">

<%= markdown = <<-MARKDOWN
## I Speak Computer
Here are the languages and syntaxes I primarily work in. I'm always open to learning new things. 
MARKDOWN
render_markdown(markdown) %>



<%= partial(:token_field, locals: { tokens: %w(Ruby JavaScript CSS SASS HTML5 BASH ZSH)}) %>

<%= markdown = <<-MARKDOWN
## Tools Of the Trade
Here are a pile of frameworks and applications and utilities that I currently keep in my toolbelt.
MARKDOWN
render_markdown(markdown) %>
<%= partial(:token_field, locals: { 
	tokens: %w(
		Rails Sinatra Bootstrap Git VIM SSH Photoshop Terraform Ansible AWS ember.js
	)
}) 
%>

    </div>
  </div>
</div>

