---
title: Professional - Hard work, good ideas, and lot's of energy
header: Profession and Passion
subtitle: I love building quality tools for the web, and automating processes.
image: mobile-office
image_title: my mobile office
---

<div class="container">
  <div class='row'>
      <div id="timeline">
        <% data.projects.each_with_index do |project, index| %>
          <div class="timeline-item <%= 'flipped' if index.even? %>">

            <div class="timeline-content">
              <div class="">
              <h2><%= project.title %></h2>
              <p>
                <% if project.description %>
                  <%= render_markdown(project.description) %>
                <% end %>
              </p>
              </div>
            </div>

            <div class="timeline-icon">
              <% icon = 'rocket' if project.kind == 'job'  %>
              <% icon = 'flask' if project.kind == 'project'  %>
              <i class="fa fa-<%= icon %> fa-2x" aria-hidden="true"></i>
            </div>

            <div class="timeline-opposite">
              <h3><%= project.season %> of <%= project.year %></h3>
              <h4><%= project.client %></h4>

              <% if project.image %>
                <div class="project-image" >
                  <img src="/images/portfolio/<%= project.image %> ">
                </div>
              <% end %>

              <% if project.technologies %>
                <div class="tokens">
                  <% project.technologies.each do |technology| %>
                    <span class="token"><%= technology %> </span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end  %>

      </div>
    </div>
</div>
